$phone: "only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2)";

.Interests {
  position: relative;
  font-size: 18px;
  width: 500px;
  margin: 0 auto;
  text-align: center;

  @media #{$phone} {
    width: 100%;
  }

  .desc {
    margin-bottom: 25px;
    color: #666666;
  }

  .row {
    display: flex;
    justify-content: space-between;
    @media #{$phone} {
      flex-direction: column;
    }
  }

  .inp {
    flex: 3 0 0;
    padding: 0px 10px;
    @media #{$phone} {
      margin-bottom: 10px;
    }

    input {
      width: 100%;
    }
  }

  .btn {
    flex: 2 0 0;
    padding: 0px 10px;

    button {
      width: 100%;
    }
  }
}
